<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Let's Kode</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
</head>
<body class="post-template">

    <header id="site-head">
        <h1 class="blog-title"><a href="http://kode.tech">Let's Kode</a></h1>
        <h2 class="blog-description"><a href="http://kode.tech">The Blog</a> - <a href="http://kode.tech/project">The Projects</a> - <a href="http://forum.kode.tech">The Forum</a></h2>
    </header>

    {{ content }}

    <footer class="site-footer">
        <div class="inner">
            {% include footer-description.html %}
            <section>Vapor theme by <a href="http://sethlilly.com/">Seth Lilly</a></section>
        </div>
    </footer>

    <script type="text/javascript" src="/assets/js/index.js"></script>

</body>
</html>
