---
layout: default
---
<main class="content" role="main">

    <article class="post">

        <header>
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta"><time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%A, %B %d, %Y' }}</time></div>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <section class="share">
            <p class="info prompt">Share this post</p>
            <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fa fa-2x fa-fw fa-twitter"></i> <span class="hidden">Twitter</span>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <i class="fa fa-2x fa-fw fa-facebook-square"></i> <span class="hidden">Facebook</span>
            </a>
            <a href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <i class="fa fa-2x fa-fw fa-google-plus-square"></i> <span class="hidden">Google+</span>
            </a>
        </section>

        <footer class="post-footer">

            {% if page.author %}
            <section class="author">
                <p class="attr">Author</p>
                <h4><a href="{{page.authorlink}}">{{ page.author }}</a></h4>
            </section>
            {% endif %}

        </footer>

    <a id="nodebb/comments"></a>
    <script type="text/javascript">
        var nodeBBURL = 'http://forum.kode.tech',
        articleID = '{{post.id}}';

        (function() {
        var nbb = document.createElement('script'); nbb.type = 'text/javascript'; nbb.async = true;
        nbb.src = nodeBBURL + '/plugins/nodebb-plugin-blog-comments/lib/embed.min.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(nbb);
        })();
    </script>
    <noscript>Please enable JavaScript to view comments</noscript>

    </article>

</main>
